<span class="toc event-type-{{ event.type }}" style="{{ event.css.toc }}">{{ event.title }}</span>
<span style="white-space: nowrap">
    <a class="jump_link" href="{{ event.event_url }}" style="{{ event.css.jump_link }}" aria-label="Open in Williams Events" target="_blank"><img style="{{ event.css.btb }}" class="btb" src="{{ event.arrow_up }}"></a>
</span>
<br>
{# DELETE THE FOLLOWING LINE - Used for testing #}
{#<small>{{ event.dm_dates | join(', ') }} - {{ audience }}</small>#}